body {
  color: rgb(34, 34, 34);
  font-family: Georgia, sans-serif;
  line-height: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

.sidebar {
  background-color: rgb(74, 58, 71);
  color: rgb(255, 255, 255);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}

.sidebar h1 {
  border-bottom: .25em solid rgb(230, 240, 175);
  font-weight: 300;
  margin: 0;
  padding: .3125em 0;
}

.nav {
  font-style: italic;
  padding: 0 0 .3125em;
}

.nav a {
  color: rgb(255, 255, 255);
}

.nav a:hover {
  text-decoration: none;
}

.nav li {
  padding: 0 0 .625em;
}

.content {
  padding: 0 1.25em;
}

.content h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.375em;
  letter-spacing: .05em;
  line-height: 1.3;
  text-transform: uppercase;
}

.content p {
  font-size: 1.125em;
  line-height: 1.4;
}

.content a {
  color: rgb(74, 58, 71);
}

.content a:hover {
  text-decoration: none;
}

.source {
  font-size: .75em;
  font-style: italic;
}

.spin {
  display: inline-block;
  transition: transform 1s ease-in-out;
}

.spin:hover {
  transform: rotate(360deg);
}

@media screen and (min-width: 47.9375em) {
  .sidebar {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 16em;
  }

  .nav li {
    padding: 0 0 .625em;
  }

  .content {
    margin: 0 0 0 18em;
    max-width: 40em;
    padding: 4em 1.25em 0 0;
  }
}
